:host {
  position: relative;
  width: 100%;

  .datepicker-wrapper {
    position: relative;
    display: flex;
    flex-flow: column;

    input {
      width: 100%;
    }

    .calendar-container {
      position: absolute;
      display: flex;
      flex-flow: column;
      z-index: 9999;
      left: 0;
      min-width: 100%;
      top: 100%;
      color: #000;
      background-color: #fff;
      opacity: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      .calendar-top {
        width: 100%;
        min-height: 40px;
        color: #fff;
        background-color: #613bbb;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        //font-size: 1.4em;

        i {
          cursor: pointer;
          padding: 0.5em;
          outline: none;
        }

        span {
          text-align: center;
          font-size: 2em;
        }
      }

      table {
        width: 100%;
        border-colapse: colapse;
        text-align: center;
      }

      .day-names {
        background: #7C4DFF;
        padding-left: 1rem;
        padding-right: 1rem;

        th {
          width: calc(100% / 7);
          font-size: 1.1em;
          text-align: center;
          padding-top: 5px;
          padding-bottom: 5px;
          color: #fff;
        }
      }

      .days {
        margin-left: 1rem;
        margin-right: 1rem;

        &.weekend-highlight .day.weekend {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &.today-highlight .day span.today {
          font-weight: bold;
          color: #fff;
          background: rgba(#613bbb, 0.4);
        }

        .day {
          cursor: pointer;
          text-align: center;

          span {
            font-size: 1.2em;
            display: inline-block;
            text-align: center;
            height: 2em;
            width: 2em;
            line-height: 2em;
            border-radius: 50%;
            margin: 2px;

            &.different-month {
              color: #ccc;
            }

            &:hover,
            &.is-active,
            &.is-active.today {
              background: #613bbb;
              color: #fff;
            }
          }
        }
      }

      .today-button-wrapper {
        padding-bottom: 5px;
        padding-top: 5px;

        button {
          display: flex;
          margin: auto;
          align-items: center;
          align-self: center;
          justify-content: center;
          margin-bottom: 0;
          font-weight: 400;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          background-image: none;
          border: 1px solid transparent;
          white-space: nowrap;
          padding: 5px 10px;
          font-size: 1em;
          line-height: 1.4;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          outline: none;
        }
      }
    }
  }
}