:host {
  position: relative;
  width: 100%;

  .datepicker-wrapper {
    position: relative;

    input {
      width: 100%;
    }

    .calendar-container {
      position: absolute;
      z-index: 9999;
      left: 0;
      right: 0;
      top: 100%;
      color: #fff;
      background: #613bbb;
      display: inline-block;
      opacity: 0;

      .calendar-top {
        width: 100%;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          cursor: pointer;
        }

        span {
          text-align: center;
        }
      }

      .day-names {
        height: 23px;
        background: #7C4DFF;
        padding-left: 1rem;
        padding-right: 1rem;

        span {
          font-size: 1.2rem;
          line-height: 2rem;
          text-align: center;
          display: block;
          float: left;
          width: calc(100% / 7);
          height: 2rem;
          color: #fff;
        }
      }

      .days {
        padding: 5px 0;
        margin-bottom: 15px;
        margin-left: 1rem;
        margin-right: 1rem;

        span {
          font-size: 2rem;
          display: block;
          float: left;
          text-align: center;
          height: 3rem;
          line-height: 3rem;
          width: calc((100% / 7) - 4px);
          cursor: pointer;
          border-radius: 1.5rem;
          margin: 2px;

          &.today {
            font-weight: bold;
            background: rgba(255, 255, 255, 0.4);
          }

          &:not(.nohover):hover,
          &.is-active,
          &.is-active.today {
            background: #fff;
            color: #613bbb;
          }
        }
      }
    }
  }
}