<div class="calendar-wrapper" [class.modal]="mqMatches" *ngIf="opened" [@contentAnimation]="opened">
  <div class="overlay" (click)="close()"></div>
  <div class="calendar-container">
    <div class="calendar-top">
      <div class="top-chevron" (click)="prevMonth()">
        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </div>
      <div class="top-month-year">
        <span>{{ date.format('MMMM YYYY') }}</span>
      </div>
      <div class="top-chevron" (click)="nextMonth()">
        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </div>
    </div>
    <table>
      <thead>
        <tr class="day-names">
          <th *ngFor="let name of weekDayNames">{{name}}</th>
        </tr>
      </thead>
      <tbody class="days" [class.weekend-highlight]="options.weekendHighlight" [class.today-highlight]="options.todayHighlight">
        <tr *ngFor="let week of weeks">
          <td *ngFor="let d of week.days" class="day" [class.weekend]="d.weekend">
            <span (click)="selectDate($event, d)" [class.today]="d.today" [class.different-month]="!d.differentMonth" [class.is-active]="d.selected">{{d.day}}</span>
          </td>
        </tr>
        <tr>
          <td colspan="7" class="today-button-wrapper">
            <button type="button" (click)="setToday()">{{options.todayString}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
